<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=".">
    <meta name="author" content="An open source website promiting heavenly goodness in all places.">  

    <title>Heavenvy - Heavenly goodness for all especially doing goodness and righteousness in many places and stopping evil.</title>

    <!-- Bootstrap Core CSS -->
    <link href= "/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/grayscale.css" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="/static/css/font.lora.css" rel="stylesheet" type="text/css">
    <link href="/static/css/font.montserrat.css" rel="stylesheet" type="text/css">
	
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
	
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/grayscale.js"></script>

    <script src="/static/js/RecordRTC.js"></script>

    <script>
    $.ajaxSetup({
      data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    var Base = this.Base = {
        anchor_click: function() {
            if(window.location.hash) {
              var hash = window.location.hash.substring(1); //Puts hash in variable, and removes the # character
              console.log(hash);
              if (hash == 'login') {
                {% if not request.user.is_authenticated %}
                    $('button[data-toggle="#modal-login-register"]').click();
                {% endif %}
              }
              // hash found
            } else {
              // No hash found
            }
        },
        logout: function() {
            $.post( "/api/accounts/logout/",
                    { },
                    function(response) {
                        var uri = window.location.href.split("#")[0];
                        window.location.href = uri;
                    }
            );
        }
    };

    </script>

	{% block js %}
	
	{% endblock %}
	
	{% block css %}
	
	{% endblock %}

    {% block cssvariable %}
        <style>
            body !important {
                background-color; #fff;
                color: #000;
            }
            .intro {
                background-image: transparent;
                /* background: url(../img/intro-bg.jpg) no-repeat bottom center scroll; */
                background-color: #fff;
                color: #428bca;
            }

            #exTab3 .tab-content {
              color : white;
              background-color: #428bca;
              padding : 5px 15px;
            }

            #exTab3 .nav-pills > li > a {
              border-radius: 4px 4px 0 0 ;
            }

        </style>
    {% endblock %} 
	
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <div class='navbar-behind'></div>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="glyphicon glyphicon-align-justify"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <i class="glyphicon" onclick=''></i>
                    <span class="light"><b style='color:black'>Heaven</b><b><label style='color:black; position: relative;'><label style='position: absolute; top: 0; left: 0; font-size:;'></label></label>vy</b><!--{{chai}}--></span><span class="light"></span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="/index.html#page-top"></a>
                    </li>

                    {% if request.user.is_authenticated %}
                        <li>

                            <a href="#" class="page-scroll"><i class="glyphicon glyphicon-user"></i> {{request.user.username}}</a>
                        </li>
                    {% endif %}
                    
                    
                    {% if sesssion.activated %}
                    <li>
                        <a class="page-scroll modal-activate" onclick="return false;" data-toggle="#modal-upload" data-target="#modal-upload" href="#modal-upload"><i class="glyphicon glyphicon-headphones"></i> Activated</a>
                    </li>
                    {% endif %}
                    
                    {% if request.user.is_authenticated and request.user.is_superuser %}
                        <li>
                            <a class="page-scroll" href="http://{{settings.DOMAIN}}:5984/_utils/">Admin</a>
                        </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li>
                            <a class="page-scroll" href="/index.html#logout" onclick="Base.logout(); return false;">Logout</a>
                        </li>
                    {% else %}
                        {% if settings.DEBUG %}
                        <li>
                            <a class="page-scroll" href="/index.html#login">Login</a>
                        </li>
                        {% endif %}
                    {% endif %}


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    {% block header %}
    <header class="masthead {% block header_classes %}{% endblock %}" {% block header_style %}style='background:url("/static/images/pinwheel-2244152_1920.jpg") no-repeat;'{% endblock %}>
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="header-content mx-auto">
                        {% block header_msg %}
                        <h1 class="mb-5">
                            Lets save the world together  
                        </h1>
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="background: #fff;">
                            Heavenly goodness ❤
                        </button>
                        {% endblock %}
                    </div>
                </div>


                <div class="col-lg-5 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}

	{% block content %}
        
        <section id="eternities" class="container content-section text-left">
        <br/><br/>

        {% for url in url_structure %}
            <div class="modal-content" style='background:url("{{url.image}}") no-repeat ! important; cursor: pointer;' onclick='window.location="{{url.url}}";'>
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{url.name}}</h4>
                </div>
                <div class="row modal-body text-left">
                    
                    {% if url.message %}
                    <p style='margin: 1px 14px'>
                        {{url.message|safe}}
                    </p>
                    {% endif %}
                    
                </div>
                <div class="modal-footer">

                    {% if request.user.is_authenticated %}
                    <div class="dropdown" style='display:inline;'>

                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class='glyphicon glyphicon-eye-close'></i> Friends only
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#"><i class='glyphicon glyphicon-eye-close'></i> Friends only</a></li>
                        <li><a href="#"><i class='glyphicon glyphicon-eye-open'></i> Web</a></li>
                      </ul>
                    </div>

                    <button type="button" class="btn btn-info" data-dismiss="modal">Logout</button>
                    {% else %}
                        <button type="button" class="btn btn-info" data-dismiss="modal">Read more &#x2764;</button>
                    {% endif %}
                </div>
            </div>
            <br/><br/>
        {% endfor %}
    </section>
    

	{% endblock %}
	
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p style='font-size:.9em;'>
            The site is a heavenly healing for my soul and I hope the right person brings this to reality and strengthens the kindness, love, and righteousness of those in the vulnerable communities listed.   The corruption in places like Venezuela and the early corruption in Argentina (many kidnappings happened there after WWII) weaken my entire soul.  Lets save the world together.
                
            <br/>
            <a href="mailto:{{settings.EMAIL}}">{{settings.EMAIL}}</a> </p>
        </div>
    </footer>

    {% block modal %}
    <!-- modal -->

    {% endblock %}

    {% block jsfooter %}
    <script>
        $(document).ready(function () {
            Base.anchor_click();
            $(".modal-activate").click(function(){
                var data_toggle = $(this).attr('data-toggle');
                $(data_toggle).modal();
            });
        });

    </script>
    {% endblock %}

</body>

</html>
